@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
} 
body{
    background:#080808;
    color: #fff;
    
}
#header{

    height:100vh;
    width:100%;
    background-image:url(Image/background.png);
    background-size:cover;
    background-position:center;
}
.container{
    padding: 10px 70px 10%;
}
.logo{
    width:220px;
}
nav{
    display:flex;
    gap:
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
}

nav ul li{
    display:inline-block;
    list-style:none;
    margin:30px 10px;
}
nav ul li a{
    color:#fff;
    text-decoration:none;
    font-size:18px;
    font-weight:600;
    padding:8px 16px;
    border-radius:99px;
    transition: 0.3s;
}
nav ul li a::after{
    background:#873600;
}
nav ul li a:hover{
    background:#873600;
}
nav ul li a:hover > a:not(:hover){
    background: none;
}
.home{
    display:flex;
}
@keyframes move {
    0% { transform: translateX(0); }
        50% { transform: translateX(-10px); } 
        100% { transform: translateX(0); }% { transform: translateX(100vw); }
  }
.center {
    position:absolute;
    bottom:0;
    left:120;
    width:80%;
    pointer-events:none;
    animation: move 5s linear infinite;
}
.coffeecup1 {
    position:absolute;
    bottom:0;
    width:100%;
    pointer-events:none;
}
.coffeecup2 {
    position:absolute;
    bottom:0;
    width:100%;
    pointer-events:none;
}
  @keyframes move1 {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px ); }
    100% { transform: translateY(0); }
  }
.Artboard1 {
    position:absolute;
    bottom:0;
    width:60%;
    pointer-events:none;
    animation: move1 8s linear infinite;
}
.Artboard2 {
    position:absolute;
    bottom:0;
    right:0;
    width:70%;
    pointer-events:none;
    animation: move1 8s linear infinite;
}
.Artboard3 {
    position:absolute;
    bottom:0;
    width:100%;
    pointer-events:none;
}

.home.title2{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-size:80px;
    text-shadow:0px 0px 4px rgba(0,0,0,0.25);

}